<div class="content">
  <div class="card">
    <strong>18:00 - Leitura</strong>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod adipisci
      corrupti eaque debitis sunt perspiciatis minima mollitia nobis animi,
      explicabo, repudiandae illo, officiis veniam modi accusamus qui laborum ab
      veritatis.
    </p>
  </div>
  <div class="card">
    <strong>18:00 - Leitura</strong>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod adipisci
      corrupti eaque debitis sunt perspiciatis minima mollitia nobis animi,
      explicabo, repudiandae illo, officiis veniam modi accusamus qui laborum ab
      veritatis.
    </p>
  </div>
  <div class="card">
    <strong>18:00 - Leitura</strong>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod adipisci
      corrupti eaque debitis sunt perspiciatis minima mollitia nobis animi,
      explicabo, repudiandae illo, officiis veniam modi accusamus qui laborum ab
      veritatis.
    </p>
  </div>
  <div class="card">
    <strong>18:00 - Leitura</strong>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod adipisci
      corrupti eaque debitis sunt perspiciatis minima mollitia nobis animi,
      explicabo, repudiandae illo, officiis veniam modi accusamus qui laborum ab
      veritatis.
    </p>
  </div>
  <div class="card">
    <strong>18:00 - Leitura</strong>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod adipisci
      corrupti eaque debitis sunt perspiciatis minima mollitia nobis animi,
      explicabo, repudiandae illo, officiis veniam modi accusamus qui laborum ab
      veritatis.
    </p>
  </div>
</div>
